# Выполнил: Филоненко Никита Дмитриевич

-----

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from multiprocessing import Pool
import time

In [3]:
df = pd.read_csv("../../data/temperature_data.csv")

df

              city   timestamp  temperature  season
0         New York  2010-01-01     4.245995  winter
1         New York  2010-01-02     5.771668  winter
2         New York  2010-01-03     6.595212  winter
3         New York  2010-01-04     4.542599  winter
4         New York  2010-01-05     2.713280  winter
...            ...         ...          ...     ...
54745  Mexico City  2019-12-25     9.254573  winter
54746  Mexico City  2019-12-26    13.840518  winter
54747  Mexico City  2019-12-27     1.107081  winter
54748  Mexico City  2019-12-28    16.073719  winter
54749  Mexico City  2019-12-29     7.129414  winter

[54750 rows x 4 columns]

- приведем timestamp к нужному dtype

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df.head()

       city  timestamp  temperature  season
0  New York 2010-01-01     4.245995  winter
1  New York 2010-01-02     5.771668  winter
2  New York 2010-01-03     6.595212  winter
3  New York 2010-01-04     4.542599  winter
4  New York 2010-01-05     2.713280  winter

- вычисление скользящего среднего

In [5]:
def calculate_moving_avg(city_data):
    city_data['moving_avg'] = city_data['temperature'].rolling(window=30, min_periods=1).mean()
    return city_data

In [9]:
df_ = df.groupby('city').apply(calculate_moving_avg, include_groups=False)

df_

               timestamp  temperature  season  moving_avg
city
Beijing 25550 2010-01-01    -5.032266  winter   -5.032266
        25551 2010-01-02    -3.994927  winter   -4.513596
        25552 2010-01-03    -7.027065  winter   -5.351419
        25553 2010-01-04    -8.892995  winter   -6.236813
        25554 2010-01-05    -0.367867  winter   -5.063024
...                  ...          ...     ...         ...
Tokyo   14595 2019-12-25     7.455974  winter    8.131442
        14596 2019-12-26     3.877173  winter    7.230694
        14597 2019-12-27     9.669779  winter    7.303646
        14598 2019-12-28    -1.412218  winter    7.147971
        14599 2019-12-29    10.259514  winter    6.878293

[54750 rows x 4 columns]

- расчет средней температуры и стандартного отклонения для каждого сезона

In [ ]:
seasonal_stats = df.groupby(['city', 'season'])['temperature'].agg(['mean', 'std'])
seasonal_stats.rename(columns={'mean': 'season_mean', 'std': 'season_std'}, inplace=True)

df = df.merge(seasonal_stats, on=['city', 'season'])